<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!--引入Redis配置文件-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:redis.properties</value>
            </list>
        </property>
        <!--用于加载多个配置文件-->
        <property name="ignoreUnresolvablePlaceholders" value="true" />
    </bean>

    <!--构建连接池配置信息-->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--设置最大连接数-->
        <property name="maxTotal" value="${REDIS.MAXTOTAL}"></property>
        <!--设置获取连接的最大等待时间-->
        <property name="maxWaitMillis" value="${REDIS.MAXWAITMILLIS}"></property>
        <!--开启获取连接时可用性校验，保证拿到的连接都是可用的-->
        <property name="testOnBorrow" value="${REDIS.TESTONBORROW}"></property>
    </bean>

    <!--构建Spring-data-redis连接工厂，其实就是连接池-->
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <constructor-arg index="0" ref="jedisPoolConfig"></constructor-arg>
        <!--设置IP-->
        <property name="hostName" value="${REDIS.HOSTNAME}"></property>
        <!--设置端口-->
        <property name="port" value="${REDIS.PORT}"></property>
        <!--设置是否使用连接池-->
        <property name="usePool" value="${REDIS.USEPOOL}"></property>
        <!--设置密码默认是没有密码-->
        <property name="password" value="${REDIS.PASSWORD}"></property>
    </bean>


    <!-- String类型的RedisTemplate模板 -->
    <bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <constructor-arg index="0" ref="jedisConnectionFactory"/>
    </bean>
</beans>