<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--加载配置==》定位配置文件-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:spring/applicationContext-redis.xml,<!--redis配置-->
            classpath*:spring/applicationContext-service.xml <!--service配置-->
            classpath*:spring/applicationContext-ibmmqSender.xml <!--ibmMq 发送配置-->
            classpath*:spring/applicationContext-ibmmqListener.xml <!--ibmMq 监听配置-->
        </param-value>
    </context-param>

    <!--装载配置==》将配置文件内容加载到环境中-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--核心控制器-->
    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--
            给当前servlet配置初始化参数：
                通过contextConfigLocation来指定spring容器中的配置文件在哪里
        -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/springmvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--
        servlet映射
        1.绝对映射：/servletDemo
        2.以/开头，以*结尾映射：/demo/*
        3.以*开头，以某个扩展名结尾： *.DO
        4.一个 / ：非常特殊，叫做默认servlet
    -->
    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--中文编码问题处理~~~~~>过滤器-->
    <filter>
        <filter-name>setCharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>setCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
